$color-background-light: #f7ecde;
$color-title: #e9c597;
$color-sub: #38938a;
$color-main: #54bab9;
$color-background-dark: #1c273b;
$color-main-dark: #354259;

$color-Urgen: #ff5252;
$color-Delegate:  #ffc107;
$color-Schedule: #25a7b8;
$color-Lately: #9c27b0;